.code-area .keyword {
  -fx-fill: darkseagreen;
  -fx-font-weight: bold;
}

.code-area .separator {
  -fx-fill: darkcyan;
  -fx-font-weight: bold;
}

.code-area .regex {
  -fx-fill: lightpink;
}

.code-area .paren {
  -fx-fill: mediumseagreen;
}

.code-area .brace {
  -fx-fill: teal;
}

.code-area .string {
  -fx-fill: coral;
}

.code-area .comment {
  -fx-fill: slategrey;
}

.code-area .token {
  -fx-fill: steelblue;
}

.code-area .parser-rule {
  -fx-fill: powderblue;
  -fx-font-weight: bold;
}
