@font-face {
  src: url('/Hack-Regular.ttf');
}

.paragraph-text {
  -fx-font-family: 'Hack', monospace;
}

.code-area {
  -fx-font-size: 15;
}

.main-selection {
  -fx-fill: lavender;
}

.lineno {
  -fx-font-size: 15;
}